<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{ path('core_homepage') }}">Accueil</a></li>
        <li><a href="{{ path('ng_trajetinscription') }}">+ Trajet</a></li>
      </ul>
      {{ render(controller('NGBundle:Trajet:search')) }}
      <ul class="nav navbar-nav navbar-right">
      	{% if app.user %}
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mon compte <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="{{ path('fos_user_profile_show') }}">Mon profil</a></li>
	            <li><a href="{{ path('fos_user_profile_edit') }}">Mes informations</a></li>
	            <li><a href="{{ path('ng_trajetsliste') }}">Mes trajets</a></li>
              <li><a href="{{ path('fos_user_change_password') }}">Mot de passe</a></li>
	            <li role="separator" class="divider"></li>
	            <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
	          </ul>
	        </li>
	    {% else  %}
	        <li><a href="{{ path('fos_user_security_login') }}">Me connecter</a></li>
	        <li><a href="{{ path('fos_user_registration_register') }}">M'inscrire</a></li>
	    {% endif  %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>